@import "./../../../../styles/colors-store.scss";

.ship-card {
    position: relative;
    margin-top: 15px;
    &__image {
        cursor: pointer;

        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        background-color: $grayBackground;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__legend{
        position: absolute;
        top: 15px;
        left: 15px; 

        background-color: white;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;

        transition:0.5s all;

        &:hover {
            transform: scale(1.1);
        }
        
        h3 {
            font-size: medium;
            font-weight: bold;
            margin: 0;
        }
    }
}