<div class="main-top">
    <div class="main-top__left">
        <div class="nav-option mr-4" [routerLink]="['starships']">
            Naves
        </div>
        <div class="nav-option mr-4" [routerLink]="['/mechanic']">
            Taller
        </div>
        <div class="nav-option mr-4" [routerLink]="['/space']">
            Espacio exterior
        </div>
    </div>
    <div class="main-top__center">
        <div [routerLink]="['/']" class="logo"></div>
    </div>
    <div class="main-top__right">
        <div class="nav-option" [routerLink]="['/login']" *ngIf="!authService.isLogged()">Iniciar sesión</div>
        <div class="nav-option mr-4" *ngIf="authService.isLogged()">Administrar</div>
        <div class="nav-option mr-4" (click)="handleLogout()"  *ngIf="authService.isLogged()">Cerrar sesión</div>
        <div class="nav-greetings" *ngIf="authService.isLogged()">Bienvenido, {{authService.loggedUser().name}}</div>
    </div>
</div>