@import 'colors-store.scss';

* {
    font-family: Grotesque;
    &:focus {
        outline: none !important;
    }
}

.button__main {
    border-style: none;
    background-color: $black;
    color: $white;
    font-family: "Grotesque";
    font-size: 16px;
    font-weight: normal;
    padding: 10px 15px;
    transition: 1s all;
    min-width: 140px;
    opacity: 1;

    &:hover{
        transition: 0.5s all;
        opacity: 0.75;
    }
}

.button__alt {
    border-style: none;
    background-color: $lightBrown;
    color: $black;
    font-family: "Grotesque";
    font-size: 16px;
    font-weight: normal;
    padding: 10px 15px;
    transition: 1s all;
    min-width: 140px;
    opacity: 1;

    &:hover{
        transition: 0.5s all;
        opacity: 0.75;
    }
}

.error {
    color: red;;
}

html, body { height: 100%; }