<div class="layout">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row">
            <div class="col-12 text-center">
                <h4>Iniciar Sesión</h4>
                <p>Introduzca su correo y contraseña para acceder</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error>El email es necesario!</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 mt-2">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error>La contraseña es necesaria!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-3 text-center mb-3" *ngIf="error">
            <div class="col-12">
                <div class="error">
                    <p class="m-0">{{errorMessage}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4 mb-4">
                <button class="button__main w-100" type="submit">Iniciar sesión</button>
            </div>
        </div>
    </form>
</div>